<div class="calendar-slot"
     [style.height]="slot.duration*3 + 'px'"
     [ngClass]="{'slot-pause' : !slot.isWorktime, 'slot-worktime' : slot.isWorktime, 'slot-hour':hourSlot}">
  <span class="hour-label">
    {{slotLable}}
  </span>
  <div *ngIf="slot.isWorktime"
       class="event-tools">
    <button mat-button
            (click)="createNewEvent(slot.start)"
            *ngIf="slot.start > now">
      <mat-icon class="add-event-icon">add</mat-icon>
    </button>
  </div>
  <app-day-event *ngFor="let event of slot.events"
                 [event]="event"></app-day-event>
</div>