.calendar-slot {
    border-top: 1px gray dotted;
    background-color: #fefefe;
    min-width: 200px;
    height: 24px;
    position: relative;
    box-sizing: border-box;
}

.hour-label {
    position: absolute;
}

.event-tools mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
}

.button-for-check, 
.button-for-recipe {
    position: relative;
    width: 90px;
    height: 30px;
    line-height: 30px;
    margin-top: 4px;
    color: grey;
    padding-left: 8px;
}

.button-for-check {
    left: 40px;
}

.button-for-recipe {
    margin-left: calc(50% - 90px);
    width: 120px;
}

.slot-hour .hour-label {
    font-weight: 450;
}

.slot-pause {
    background-color: #fefefe;
}

.slot-disabled {
    background: repeating-linear-gradient( -60deg, white, white 6px, #eee 6px, #eee 8px);
}