<div class="calendar-slot"
     [style.height]="slot.duration*4 + 'px'"
     [ngClass]="{'slot-pause' : !slot.isWorktime, 'slot-worktime' : slot.isWorktime, 'slot-disabled': slot.start < now}">
    <span class="hour-label">
        {{slotLable}}
    </span>
    <div *ngIf="slot.isWorktime && showNewTools">
        <div class="event-tools">
            <button mat-button
                    class="button-for-check"
                    (click)="createNewEvent(slot.start,0)"
                    *ngIf="slot.start > now">
                <mat-icon class="add-event-icon">add</mat-icon>
                преглед
            </button>
            <button mat-button
                    class="button-for-recipe"
                    (click)="createNewEvent(slot.start,1)"
                    *ngIf="slot.start > now">
                <mat-icon class="add-event-icon">add</mat-icon>
                за рецепта
            </button>
        </div>
    </div>

    <app-day-event *ngFor="let event of slot.events"
                   [event]="event"></app-day-event>
</div>