<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Регистрация
      </mat-panel-title>
      <mat-panel-description>
        Данни на регистрация
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-registration>
    </app-registration>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="activation === 'patients'" (opened)="patientsOpened = true" (closed)="patientsOpened = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          <span>Пациенти</span>
        </span>
      </mat-panel-title>
      <mat-panel-description>
        Данни на регистрирани пациенти
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- <app-patient-list></app-patient-list> -->
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Лекари
      </mat-panel-title>
      <mat-panel-description>
        Данни на регистрирани Лекари
      </mat-panel-description>
    </mat-expansion-panel-header>
     <!-- <app-doctor-list [doctors] = "doctorService.getMyDoctors() | async"></app-doctor-list>  -->
  </mat-expansion-panel>
</mat-accordion>