<div class="image-upload">
    <div class="form-group">
        <div class="col-md-10">
            <div>
                <div class="image-container">
                    <img class="image"
                         [src]="imgSrc"
                         alt="image"
                         *ngIf="imgSrc" />
                    <input type='file'
                           (change)="fileChangeEvent($event)"
                           [hidden]="true"
                           #fileInput />
                </div>

                <div class="user-image-actions">
                    <a mat-raised-button
                       type="button"
                       (click)="fileInput.click()">Избери снимка</a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button mat-button
                    [disabled]="!imgSrc"
                    (click)="saveImage()">Запамети</button>
        </div>
    </div>
</div>
<div class="image-container">
    <div *ngFor="let image of images"
         class="image-outer-div">
        <img [src]="image.src"
             class="image" />
        <div class="delete"
             (click)="deleteImage(image.id)">
            <mat-icon>clear</mat-icon>
        </div>
        <div class="image-info">
            {{image.id}}
        </div>
    </div>
</div>