.status_indicator {
    width: 19px;
    height: 19px;
    position: absolute;
    right: 20px;
}

.status_indicator>.mat-icon {
    font-size: 16px;
}

form {
    max-width: 400px;
}

.mat-card {
    margin: auto;
    width: 270px;
    margin-top: 5px;
    margin-right: 5px;
}

.mat-form-field {
    width: 270px;
}