<div class="doctor-details">
  <mat-card *ngIf="doctor">
    <mat-card-header>
      <div mat-card-avatar class="doctor-header-image" [style.background-image]="'url(./assets/doctor_' + doctor.id + '.jpg)'"></div>
      <mat-card-title>{{doctor.displayName}}</mat-card-title>
      <mat-card-subtitle>
        <span *ngFor="let spec of doctor.spezialisations">{{spec}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="image-container">
      <img mat-card-image [src]="imageUrl" alt="{{doctor.name}}">
    </div>
    <mat-card-content>
      <div class="workday-header main">
        Работно време
      </div>
      <div *ngFor="let workday of doctor.workdays" class="workday-container">
        <div class="worktime-header">
          {{workday.dayLabel}}
        </div>
        <div class="worktime-container">
          <div *ngFor="let worktime of workday.worktimes" class="worktime-hours">
            {{worktime.from | dfnsFormat : 'HH:mm'}} - {{worktime.till | dfnsFormat : 'HH:mm'}}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="appointments">
    <div>
      <app-day-view start="8" end="16" [events]="calendarEvents" (viewDateChanged)="viewDateChanged($event)" 
      [viewDate]="viewDate" (newEventClicked)="createAppointment($event)">
      </app-day-view>
    </div>
  </div>

</div>