<div class="doctor-details">
  <mat-card *ngIf="doctor">
    <mat-card-header>
      <div mat-card-avatar class="doctor-header-image" [style.background-image]="'url(./assets/doctor_' + doctor.id + '.jpg)'"></div>
      <mat-card-title>{{doctor.displayName}}</mat-card-title>
      <mat-card-subtitle>
        <span *ngFor="let spec of doctor.spezialisations">{{spec}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="image-container">
      <img mat-card-image [src]="imageUrl" alt="{{doctor.name}}">
    </div>
  </mat-card>
  <div class="appointments">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="view ='week'">
          Week
        </div>
        <div class="btn btn-primary" (click)="view = 'Day'">
          Day
        </div>
      </div>
    </div>
    <div [ngSwitch]="view">
      <app-day-view start="8" end="16">
      </app-day-view>
    </div>
  </div>

</div>