<div class="appointments-container">
  <mat-card *ngFor="let appointment of appointments">
    <mat-card-header>
      <div mat-card-avatar           
           class="doctor-header-image"
           [style.background-image]="'url(./assets/doctor_' + appointment.doctor.id + '.jpg)'"></div>
      <mat-card-title>
        <a routerLink="/doctors/{{appointment.doctor.id}}">{{appointment.doctor.firstName}}
          {{appointment.doctor.lastName}}</a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="content-info">
        <div>
          <span class="info-header">Пациент:</span>
          <span>{{appointment.patient.firstName}} {{appointment.patient.lastName}}</span>
        </div>
        <div>
          <span class="info-header">Час:</span>
          <span class="fetter">{{appointment.start | dfnsFormat : 'HH:mm'}}</span>
        </div>
        <div>
          <span class="info-header">Дата:</span><span class="fetter">{{appointment.start | dfnsFormat : 'DD.MM.YYYY'}}</span>
          <span class="fetter"> ({{appointment.start | dfnsFormat : 'dddd'}})</span>
        </div>
        <div>
          <span class="info-header">За:</span> <span *ngIf="appointment.categoryId==0"
                class="fetter">преглед</span>
          <span *ngIf="appointment.categoryId==1"
                class="fetter">рецепта</span>
          <span *ngIf="appointment.categoryId==2"
                class="fetter">консултация</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf="!appointment.canceled" (click)="cancel(appointment)">Откажи</button>
      <span *ngIf="appointment.canceled">Часът беше отказън!</span>
    </mat-card-actions>
  </mat-card>
 
</div>