.appointments-container {
    display: flex;
    flex-wrap: wrap;
}

.doctor-header-image {
    background-size: cover;
    margin: 10px;
}

.info-header {
    width: 100px;
    display: inline-block;
    margin: 2px;
}

mat-card {
    margin: 5px;
    width: 300px;
}

.mat-card-title {
    margin: 20px 0;
}

.content-header {
    display: flex;
}

.content-header-text {
    flex-grow: 1;
}

.content-header-actions {
    flex-grow: 0;
}