<mat-toolbar class="fmg-top-toolbar" color="primary">
    <mat-toolbar-row>
        <nav class="top-navigation">
            <div class="left">
                <span [hidden]="showAllElements">
                    <button mat-icon-button (click)="toggleSideBarClicked.emit();">
                        <mat-icon>menu</mat-icon>
                    </button>
                </span>
                <span [hidden]="!showAllElements">
                    <a mat-button routerLink="/">Лекарски портал - Казанлък</a>
                </span>
            </div>
            <div class="right">
                <div>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>perm_identity</mat-icon>
                    </button>
                    <span *ngIf="isLoggedIn$ | async as isLoggedIn">
                        <a routerLink="manage" routerLinkActive="active" mat-button>{{authenticatedUser}}</a>
                        <a routerLink="logout" mat-button>Изход</a>
                    </span>
                    <a routerLink="login" mat-button *ngIf="isLoggedIn">Вход</a>
                    <a routerLink="register" mat-button *ngIf="isLoggedIn">Регистрация</a>
                </div>
            </div>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>