.root-component{
    min-width: 400px;
}
.fmg-top-toolbar{
    position: fixed;
    z-index: 2;
    top: 0;
}
.top-navigation{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.top-navigation .left{
    margin-left: 5px;
}
.top-navigation .right{
    margin-right: 5px;
}
.top-navigation span{
    vertical-align: middle;
}