<div class="root-component">
  <app-top-nav [showAllElements]="!mobileQuery.matches" (toggleSideBarClicked)="snav.toggle()"></app-top-nav>
  <mat-sidenav-container>
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <app-side-nav (onLinkClicked) ="mobileQuery.matches && snav.toggle()"></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>