
.root-component{
    min-width: 400px;
}
.mat-sidenav-container{
    top: 64px;
    height: calc(100vh - 64px);
}
.mat-sidenav{
    min-width: 200px;
}
@media(max-width: 600px){
    .mat-sidenav-container{
        top: 56px;
        height: calc(100vh - 56px);
    }
}