.main-application {
    min-width: 400px;
    height: 100%; 
    background-image: url('/assets/dna-background.jpg');   
    background-size: 100vw 100vh; 
}

.mat-sidenav {
    min-width: 240px;
    margin-top: 5px;
    border-top-right-radius: 3px;
}

.example-spacer {
    flex: 1 1 auto;
}
.mat-toolbar{
    background-color:rgba(8, 76, 141, 0.76);
}

.mat-sidenav-container {
    height: calc(100% - 64px);
    background-color: transparent;
}