<mat-card *ngIf="!!doctor">
    <mat-card-header>
        <mat-card-title><a routerLink="/doctors/{{doctor.id}}">{{doctor.displayName}}</a></mat-card-title>
        <mat-card-subtitle>
            <span *ngFor="let spec of doctor.spezialisations">{{spec}}</span>
        </mat-card-subtitle>
    </mat-card-header>    
    <mat-card-content>
        <div>
            Запазване на преглед в {{start | dfnsFormat : 'DD.MM.YYYY'}} ({{start | dfnsFormat : 'dddd'}}) от {{start |
            dfnsFormat : 'HH:mm'}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="createAppointment()">Запази</button>
        <button mat-button routerLink="/doctors/{{doctor.id}}">Назад</button>
    </mat-card-actions>
</mat-card>