<div class="doctor-details">
    <div class="appointments">
        <div fxLayout="row"
             fxLayoutAlign="start center">
            <div class="dayview-tools">
                <button mat-button
                        (click)="moveViewDate(-1)">
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <div class="viewdate-label">
                    <div (click)="viewDatePicker.open()">
                        <input class="date-input"
                               disabled
                               matInput
                               [matDatepicker]="viewDatePicker"
                               (click)="viewDatePicker.open()"
                               [(ngModel)]="viewDate">
                        <mat-datepicker #viewDatePicker
                                        disabled="false"></mat-datepicker>
                        <div>{{ viewDate | dfnsFormat : '(dddd)' }}</div>
                    </div>
                </div>
                <button mat-button
                        (click)="moveViewDate(1)">
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </div>
        </div>
        <app-day-view [events]="calendarEvents"
                      *ngIf="eventsLoaded"
                      (newEventClicked)="createAppointment($event)"
                      [viewDate]="viewDate"
                      [showNewTools]="false"
                      [worktimes]="worktimes">
        </app-day-view>
    </div>
</div>