<mat-card *ngIf="!!doctor">
  <mat-card-header>
    <div mat-card-avatar class="doctor-header-image"></div>
    <mat-card-title>{{doctor.displayName}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <div class="image-container">
    <img mat-card-image [src]="imageUrl(doctor)" alt="{{doctor.name}}">
  </div>
  <mat-card-content>
      <div *ngFor="let workday of workdays" class="workday-container">

      </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Преглед</button>
    <button mat-button>Контакт</button>
  </mat-card-actions>
</mat-card>