.doctor-details {
    display: flex;
    flex-wrap: wrap;
}

.mat-card {
    width: 300px;
    flex-grow: 0;
}

.doctor-header-image {
    background-size: cover;
    width: calc(100px-20px);
    margin: 10px;
}

.mat-card-content {
    margin-bottom: 0;
}

.image-container {
    height: 150px;
}

.mat-card-image {
    width: auto;
    height: 100%;
    display: block;
    margin: auto !important;
}

.mat-card-subtitle span {
    margin-right: 5px;
}

.mat-card-content {
    padding-top: 10px;
}

.worktime-header {
    font-weight: 500;
    width: 25px;
}

.workday-header.main {
    font-weight: 500;
    margin-left: 5px;
}

.workday-container {
    display: flex;
}

.worktime-container {
    display: flex;
}

.worktime-hours {
    margin-left: 5px;
}

.appointments {
    flex-grow: 1;
    padding: 5px;
    min-width: 300px;
}