<div class="doctor-details">
    <mat-card *ngIf="doctor">
        <mat-card-header>
            <div mat-card-avatar
                 class="doctor-header-image"
                 [style.background-image]="'url('+doctor.headerImageSrc+')'">
            </div>
            <div class="doctor-header-text">
                <div>д-р {{doctor.firstName}} {{doctor.lastName}}</div>
            </div>

        </mat-card-header>
        <mat-card-content>
            <div class="appointments">
                <div fxLayout="row"
                     fxLayoutAlign="center center">
                    <div class="dayview-tools">
                        <button mat-button
                                (click)="moveViewDate(-1)">
                            <mat-icon>navigate_before</mat-icon>
                        </button>
                        <div class="viewdate-label">
                            <div (click)="viewDatePicker.open()">
                                <input class="date-input"
                                       disabled
                                       matInput
                                       [matDatepicker]="viewDatePicker"
                                       (click)="viewDatePicker.open()"
                                       [(ngModel)]="viewDate">
                                <mat-datepicker #viewDatePicker
                                                disabled="false"></mat-datepicker>
                                <div>{{ viewDate | dfnsFormat : '(dddd)' }}</div>
                            </div>
                        </div>
                        <button mat-button
                                (click)="moveViewDate(1)">
                            <mat-icon>navigate_next</mat-icon>
                        </button>
                    </div>
                </div>
                <app-day-view [events]="calendarEvents"
                              *ngIf="eventsLoaded"
                              (newEventClicked)="createAppointment($event)"
                              [viewDate]="viewDate"
                              [worktimes]="worktimes">
                </app-day-view>
            </div>
        </mat-card-content>
    </mat-card>

</div>