<div> 
  <div class="dayview-events">
    <div class="calendar-slot" *ngFor="let slot of slots">
      <span *ngIf="slot.hourLabel" class="hour-label">
        {{slot.hourLabel}}
      </span>
      <div class="event-tools">
        <button mat-button (click)="createNewEvent(slot.startTime)">
          <mat-icon class="add-event-icon">add</mat-icon>
        </button>
      </div>
    </div>
    <div class="calendar-event" *ngFor="let event of events" [style.top]="(event.start - start) *100 + 'px'"
      [style.height]="(event.end - event.start)*100 + 'px'" [style.left]="(event.overlapingCounter * 190 + 50) + 'px'">
      {{event.title}}
    </div>
    <div class="now-divider">

    </div>
  </div>
</div>