.dayview-events {
    position: relative;
   
    min-height: 50px;
}

.calendar-event {
    position: absolute;
    width: 180px;
    min-height: 3px;
    background-color: gray;
    border: 1px darkgray solid;
    border-radius: 7px;
    box-sizing: border-box;
    left: 50px;
}