.calendar-slot {
    border-top: 1px gray dotted;
    background-color: #fefefe;
    min-width: 200px;
    height: 24px;
    position: relative;
}

.calendar-slot:nth-child(4n+1) {
    border-top: 1px gray solid;
}

.hour-label {
    position: absolute;
    z-index: 100;
}

.event-tools {
    margin-left: 60px;
    display: none;
}

.event-tools mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    ;
}

.calendar-slot:hover .event-tools {
    display: block;
}

.event-tools button.mat-button {
    width: 150px;
    min-width: 16px;
    height: 24px;
    line-height: 20px;
    padding: 0;
}

.dayview-tools {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 15px;
}

.dayview-tools>button.mat-button {
    min-width: 36px;
    width: 36px;
    padding: 0;
}

.viewdate-label {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 105px;
}

.dayview-events {
    position: relative;
}

.calendar-event {
    position: absolute;
    width: 180px;
    min-height: 3px;
    background-color: gray;
    border: 1px darkgray solid;
    border-radius: 7px;
    box-sizing: border-box;
    left: 50px;
}