<mat-card>
    <form class="registration-form"
          [formGroup]="registrationForm"
          (ngSubmit)="onSubmit(registrationForm)"
          novalidate>
        <mat-form-field>
            <input formControlName="firstName"
                   name="firstName"
                   matInput
                   placeholder="Име">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="lastName"
                   name="lastName"
                   matInput
                   placeholder="Фамилия">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="email"
                   name="email"
                   matInput
                   placeholder="Емайл">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="password"
                   type="password"
                   matInput
                   placeholder="Парола">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="confirmPassword"
                   type="password"
                   matInput
                   placeholder="Парола (отново)">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="phoneNumber"
                   name="phone"
                   matInput
                   placeholder="Телефон">
        </mat-form-field>
        <div>
            <button mat-raised-button
                    type="submit"
                    [disabled]="!registrationForm.valid">Регистрация</button>
        </div>
    </form>
</mat-card>