<mat-card>
    <form class="registration-form"
          [formGroup]="registrationForm"
          (ngSubmit)="onSubmit()"
          novalidate>
        <mat-form-field>
            <input formControlName="firstName"
                   name="firstName"
                   matInput
                   placeholder="Име">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="lastName"
                   name="lastName"
                   matInput
                   placeholder="Фамилия">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="email"
                   name="email"
                   disabled
                   matInput
                   placeholder="Емайл">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="phoneNumber"
                   name="phoneNumber"
                   matInput
                   placeholder="Телефон">
        </mat-form-field>
        <div>
            <button mat-button
                    type="submit"
                    [disabled]="!registrationForm.valid && registrationForm.pristine">Запамети</button>
        </div>
    </form>
</mat-card>