
  <nav>
    <mat-nav-list>
      <a mat-list-item (click)="clicked()" routerLink="/">Start</a>
      <a mat-list-item (click)="clicked()" routerLink="/doctors">Doctors</a>
      <a mat-list-item (click)="clicked()" routerLink="/doctor/1">Doctor 1</a>
      <a mat-list-item (click)="clicked()" routerLink="/">Start</a>
      <a mat-list-item (click)="clicked()" routerLink="/doctors">Doctors</a>
      <a mat-list-item (click)="clicked()" routerLink="/doctor/1">Doctor 1</a>
      <a mat-list-item (click)="clicked()" routerLink="/">Start</a>
      <a mat-list-item (click)="clicked()" routerLink="/doctors">Doctors</a>
      <a mat-list-item (click)="clicked()" routerLink="/doctor/1">Doctor 1</a>
      <a mat-list-item (click)="clicked()" routerLink="/">Start</a>
      <a mat-list-item (click)="clicked()" routerLink="/doctors">Doctors</a>
      <a mat-list-item (click)="clicked()" routerLink="/doctor/1">Doctor 1</a>
    </mat-nav-list>
  </nav>