<mat-card>
    <mat-card-header>
        <div mat-card-avatar
             class="doctor-header-image"
             [style.background-image]="'url(./assets/doctor_' + doctor.id + '.jpg)'"></div>
        <mat-card-title><a routerLink="/doctors/{{doctor.id}}">{{doctor.firstName}} {{doctor.lastName}}</a>
        </mat-card-title>
        <mat-card-subtitle>
            <span *ngFor="let spec of doctor.specialisations">{{spec}}</span>
        </mat-card-subtitle>
    </mat-card-header>
    <div class="image-container">
        <img mat-card-image
             [src]="imageUrl"
             alt="{{doctor.name}}">
    </div>
    <mat-card-content>
        <div class="workday-header main">
            Работно време
        </div>
        <div *ngFor="let workday of doctor.workdays"
             class="workday-container">
            <div class="worktime-header">
                {{workday.dayLabel}}
            </div>
            <div class="worktime-container">
                <app-worktime *ngFor="let worktime of workday.worktimes"
                              [worktime]="worktime"> </app-worktime>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isLoggedIn">
        <div matTooltip="За запазване на часове, моля обърнете се към д-р {{doctor.lastName}}"
             matTooltipPosition="above"
             matTooltipClass="tooltip-gray"
             [matTooltipDisabled]="isUserAuthorised">
            <button mat-button
                    *ngIf=" !codeInputIsVisible"
                    [disabled]="!isUserAuthorised"
                    [routerLink]="['/appointments/view/', doctor.id]">Запази час</button>
        </div>

        <button mat-button
                *ngIf="!isUserAuthorised && !codeInputIsVisible"
                (click)="showCodeInput()">Въведи код</button>
        <div *ngIf="codeInputIsVisible"
             class="input-registration-code">
            <input placeholder="Регистрационен код"
                   [ngClass]="{'portal-error': hasCodeError }"
                   [(ngModel)]="registrationCode"
                   (keyup)="hasCodeError = false"
                   (keyup.enter)="applyRegistrationCode()">
            <button mat-button
                    [disabled]="!registrationCode || registrationCode.length<5"
                    (click)="applyRegistrationCode()">Ok</button>
        </div>
    </mat-card-actions>
</mat-card>