:host {
    width: 300px;
    box-sizing: border-box;
}

.mat-card {
    margin: 5px;
    background-color: #ffffff;
    border-radius: 0 !important;
}

.doctor-header-image {
    background-size: cover;
    margin: 10px;
}

.mat-card-header {
   justify-content: center;
}

.image-container {
    height: 150px;
}

.mat-card-image {
    width: auto;
    height: 100%;
    display: block;
    margin: auto !important;
}

.mat-card-subtitle span {
    margin-right: 5px;
}

.mat-card-content {
    padding-top: 10px;
    margin-bottom: 0;
}
.mat-card-actions{
    display: flex;
    justify-content: center;
}
.worktime-header {
    font-weight: 500;
    width: 25px;
}

.workday-header.main {
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}

.workday-container {
    display: flex;
    justify-content: center;
}

.worktime-container {
    display: flex;
}

.input-registration-code {
    display: flex;
}

.input-registration-code>input{
    width: 130px;
}
.input-registration-code>.mat-button{
    width: 66px;
    min-width: 66px;
}
::ng-deep .tooltip-gray{
    background-color: gray;
    opacity: 1;
    width: 215px;
}