.status_indicator {
   position: relative;
}

.status_indicator>.mat-icon {
    position: absolute;
    right: -10px;
    top:-10px;
}

.patient-card {
    width: 330px;
    margin: 5px;
    background-color: white;
    padding: 20px;
}
.main-controles {
    display: flex;
}
.avatar-control{
    width: 135px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;

}
.name-controls{
    padding-top: 60px;
    width: 153px;
}

.mat-form-field {
    width: 100%;
}
.avatar-image{
    max-height: 130px;
    max-width: 130px;    
}
.patient-card-actions {}