<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Регистрация
      </mat-panel-title>
      <mat-panel-description>
        Данни на регистрация
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-registration>
    </app-registration>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="activation === 'patients'" (opened)="patientsOpened=true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          <span>Пациенти</span> 
          <button mat-button (click)="patientList.addPatient()">Нов Пациент</button>
        </span>
      </mat-panel-title>
      <mat-panel-description>
        Данни на регистрирани пациенти
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <app-patient-list #patientList></app-patient-list>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Лекари
      </mat-panel-title>
      <mat-panel-description>
        Данни на регистрирани Лекари
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>